body {
  font-family: 'Spartan', sans-serif;
  width: auto;
}

h1 {
  color: #5e0606;
  width: 220px;
}

.top-image {
  position: absolute;
  top: 0;
  width: 400px;
}

.bottom-image {
  width: 700px;
}

.intro {
  width: 220px;
  margin-left: 100px;
  margin-top: 100px;
}

.text {
  width: 400px;
  margin-left: 100px;
  color: grey;
}

.star1 {
  background-color: #f1f6f9;
  width: 350px;
  height: 30px;
  text-align: center;
  padding: 7px;
  border-radius: 8px;
}

.star2 {
  background-color: #f1f6f9;
  width: 350px;
  height: 30px;
  text-align: center;
  padding: 7px;
  position: relative;
  left: 40px;
  border-radius: 8px;
}

.star3 {
  background-color: #f1f6f9;
  width: 350px;
  height: 30px;
  text-align: center;
  padding: 7px;
  position: relative;
  left: 80px;
  border-radius: 8px;
}

.stars {
  position: absolute;
  left: 600px;
  top: 100px;
}

.profile {
  float: left;
  border-radius: 200%;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 0;
}

.reviews {
  color: white;
  background-color: #6a1051;
  width: 350px;
  height: 200px;
  margin-left: 100px;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
}

.irene {
  position: relative;
  left: 390px;
  bottom: 200px;
}

.anne {
  position: relative;
  left: 780px;
  bottom: 400px;
}

h5 {
  color: white;
  margin-bottom: 0;
}

h6 {
  color: #ffaac3;
  margin-top: 0;
  padding-bottom: 10px;
}

p {
  line-height: 25px;
}

.bottom-image {
  position: absolute;
  left: 410px;
  bottom: 10px;
}

.attribution {
  background-color: #f2f4f6;
  height: 20px;
  text-align: center;

}
